.contact {
  width: $pcw;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ebf4f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__sub-title{
    font-family: serif;
  }

  &__thank{
    font-family: serif;
    padding: 0 350px;
    line-break: strict;
    font-size: 20px;
  }

  &__form {
    margin: 50px 0 40px;
    display: flex;
    justify-content: center;

    label{
      display: block;
      text-align: left;
      font-size: 30px;
    }
    .name {
      margin-bottom: 20px;
    }

  }


}




.form .name,
.form .email {
  margin-top: 10px;
  display: block;
  height: 50px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 20px;
  border-radius: 40px;
  outline: none;
}

.form-left {
  margin-right: 50px;
}

.form .inquiry {
  display: block;
  margin-top: 10px;
  padding: 10px 40px 0 40px;
  height: 150px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 40px;
  outline: none;
}

.contact button {
  font-family: 'Shadows Into Light', cursive;
  background-color: #ffffff;
  color: rgb(70, 68, 68);
  border: 1px solid rgb(82, 82, 82);
  border-radius: 40px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 50px;
  box-sizing: border-box;
  transition: all .8s ease;
  -webkit-transition: all .8s ease;
}

.contact button:hover {
  cursor: pointer;
  background-color:#9dd8ee;
  color: #fff;
  transition: color .8s linear;
  -webkit-transition: color .3s linear;
  overflow: hidden;
  text-transform: uppercase;

}
