.header {
  width: $pcw;
  display: flex;
  margin: 0 auto;
  color: rgba(2, 39, 250, 0.767);
  font-size: 30px;
  padding: 30px 0;

  &__name{
    width: 100%;
    margin-left: 2%;
    font-size: 50px;
  }

  &__nav{
    width: 100%;
    margin: 0 auto;
    ul{
      display: flex;
      li{
        padding-left: 30px;
      }
      a{
        color: rgba(2, 39, 250, 0.767);
      }
    }
  }


}
